@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* 确保整个容器居中并限制最大宽度，避免在大屏幕上过宽 */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* 使容器至少和视口一样高 */
}

/* 为 Questionnaire 组件腾出空间 */
.questionnaire-wrapper {
  width: 1748px; /* 宽度 */
  height: 1240px; /* 高度 */
  max-width: 100%; /* 确保宽度不会超过视口宽度 */
  margin: auto; /* 水平居中 */
  
  padding: 20px; /* 可选的内边距 */
  box-sizing: border-box;
  display: flex;
  justify-content: center; /* 内部内容水平居中 */
  align-items: center; /* 内部内容竖直居中 */
}

/* 响应式设计：在较小的屏幕上适应 */
@media (max-width: 1800px) {
  .questionnaire-wrapper {
    width: 90%; /* 或其他比例，根据需要调整 */
    height: auto; /* 根据内容调整高度 */
  }
}
